<div class="content overflow-y-auto">
  <p>page1 works!</p>
  <p>translate: {{ 'test.demo' | translate }}</p>
  <p>
    <label>10000 seconds transform to hour：</label>
    {{ 10000 | SecondToHour }}
  </p>

  <p>
    <label>2023-03-08T10:30:20 transform：</label>
    {{ '2023-03-08T10:30:20' | FormatTime }}
  </p>
  <p>
    <button pButton pRipple class="primary-btn" (click)="showLoading()">
      Loading
    </button>
  </p>
  <p>
    <button pButton pRipple class="primary-btn" (click)="showQR()">
      QR
    </button>
  </p>
  <p>
    <button pButton pRipple class="primary-btn" (click)="showVideo()">
      Preview Video
    </button>
  </p>
</div>


<p-dialog
  #dialog
  [(visible)]="QRVisible"
  [style]="{ width: '550px' }"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  styleClass="p-fluid">
  <ng-template pTemplate="header">
    <h3 class="text-center w-100">DEMO</h3>
  </ng-template>
  <jabil-qr #qr *ngIf="QRVisible" [field]="qrData"></jabil-qr>
  <p-footer>
    <div style="display: flex; justify-content: center">
      <button (click)="printQR()" pButton pRipple class="primary-btn">
        {{'print' | translate}}
      </button>
      <button pButton pRipple type="button" class="p-button-outlined" (click)="QRVisible = false">
        {{'close' | translate}}
      </button>
    </div>
  </p-footer>
</p-dialog>

<jabil-loading style="height: calc(100% - 75px); top: 75px" *ngIf="loading"></jabil-loading>

<jabil-video-dialog
  class="dialog"
  *ngIf="videoVisible"
  [field]="videoSrc"
  (closeDialog)="videoVisible= false"></jabil-video-dialog>

